img {
    display: block;
    max-width: 100%;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

p {
    font-size: 2rem;
}

.galeria {
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

@media (width <= 500px) {
    .minmax img{
        grid-row: 2;
    }
}