img {
  display: block;
  max-width: 100%;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 {
  grid-column: 1 / -1;
}

@media (max-width: 600px) {
  div {
    grid-template-columns: 1fr;
  }

  h1 {
    background-color: aquamarine;
  }
}

@media (min-width: 1000px), (max-width:500px) {
  html {
    font-size: 150%;
  }

  h1 {
    background-color: lightcoral;
  }
}

@media (700px <= width <= 900px){
  body {
    background-color: lightgreen;
  }
}

/* @media screen {
    body {
        background-color: lightblue;
    }
}

@media print {
    body {
        background-color: white;
    }
} */